body {
  background-color: rgb(246, 251, 122);
  form {
    position: relative;
    width: 50%;
    height: 75vh;
    box-shadow: 3px 4px 20px 3px;

    background: linear-gradient(
      198deg,
      rgb(180, 227, 128) 15%,
      rgb(136, 214, 108) 35%,
      rgb(115, 187, 163) 50%
    );
    border-radius: 8px;
    .image-box {
      max-width: 15vw;
      position: absolute;
      bottom: 0;
      left: 25px;

      img {
        width: 100%;
      }
    }
    .input-box {
      width: 85%;
      input {
        width: 100%;
        border: 2px solid rgb(99, 99, 99);
        box-shadow: 3px 4px 20px 3px;
        border-radius: 35px;
        padding: 12px;
      }
    }
    button {
      padding: 11px;
      border-radius: 4px;

      &:nth-child(1) {
        background-color: rgb(246, 251, 122) !important;
      }
      &:nth-child(2) {
        background-color: rgb(246, 251, 122) !important;
      }
    }
    .info-box {
      max-width: 85%;
      margin: 0 auto;
      height: 150px;
      margin-bottom: 20px;
    }
  }
}
